:root {
  --text-color-white: #fafafa;
  --color-black: #000;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2.5rem;
  --font-size-3rem: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../assets/daniele-salutari-restaurant-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */
#logo {
  width: 17rem;
  transition: all 0.8s ease-in-out;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 100%;
  height: 7rem;
}

#home-btn,
#menu-btn,
#contact-btn {
  color: var(--text-color-white);
  background-color: var(--color-black);
  font-size: var(--font-size-medium);
  margin-right: 5rem;
  border: none;
}

/* Hamburger menu */
#hamburger-container {
  display: none;
  cursor: pointer;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color-white);
}

/* Main */
#restaurant-name {
  color: var(--text-color-white);
  text-align: center;
  font-size: var(--font-size-extra-large);
}

#restaurant-type {
  font-size: var(--font-size-medium);
  font-weight: normal;
}

#home-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: var(--text-color-white);
  animation: fadeIn 1.5s;
}

#home-paragraph {
  color: var(--text-color-white);
  text-align: center;
  max-width: 40%;
  font-size: var(--font-size-large);
  margin-top: 3rem;
}

#work-schedule-div {
  border: 2px solid var(--text-color-white);
  font-size: var(--font-size-medium);
  width: 20%;
  height: 14rem;
  text-align: center;
  margin-top: 7rem;
}

#hours-h2 {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

#menu-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  background: linear-gradient(rgba(8, 8, 8, 0.2), rgba(117, 109, 109, 0.8));
  animation: fadeIn 1.5s;
}

#product-img {
  border-radius: 35%;
  width: 10rem;
}

#product-card {
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#product-description {
  font-size: var(--font-size-medium);
  margin-top: 0.5rem;
}

#product-price {
  font-size: var(--font-size-large);
  margin-top: 0.5rem;
  font-weight: bold;
}

#contact-page-container {
  animation: fadeIn 1.5s;
  display: grid;
  grid-template-areas: 
  "contact-info contact-form"
  "contact-info contact-form";
  grid-template-columns: 3fr 5fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 4rem;
  padding: 0 2rem;
  justify-items: center;
  width: 100%;
}

#contact-us-title {
  color: var(--text-color-white);
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--font-size-3rem);
  grid-area: contact-form;
  grid-row: 1;
  width: 100%;
}

#contact-info-container {
  display: grid;
  grid-area: contact-info;
  grid-row: 2;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: rgb(0, 0, 0, 0.7);
  color: var(--text-color-white);
  width: 100%;
  height: 16rem;
  border-radius: 0.4rem;
}

#location-container, 
#phone-number-container,
#email-container {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  font-size: var(--font-size-large);
}

#contact-form-container {
  color: var(--text-color-white);
  grid-area: contact-form;
  grid-row: 2;
  width: 60%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

#contact-form input, textarea {
  width: 100%;
  height: 4rem;
  font-size: var(--font-size-medium);
  text-indent: 2rem;
  border-radius: 0.7rem;
}

#contact-form textarea {
  height: 12rem;
  resize: none;     /* disables the resizing message box manually */ 
  letter-spacing: 1px;
}

#submit-btn-container {
  text-align: center;
  grid-area: contact-form;
  grid-row: 3;
}

#submit-btn {
  font-size: var(--font-size-medium);
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: #8d0d0d;
  color: var(--text-color-white);
  border: none;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#confirmation-message {
  color: var(--text-color-white);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  font-size: var(--font-size-large);
  animation: fadeIn 0.8s;
}

#error-name,
#error-email,
#error-textarea {
  font-size: var(--font-size-large);
  color: red;
  font-weight: bold;
  text-align: center;
}

 /* Footer */
#footer {
  border: 1px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--text-color-white);
  margin-top: auto;
}

#footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  gap: 0.3rem;
  color: var(--text-color-white);
  font-size: var(--font-size-medium);
}

.fa-brands {
  color: var(--text-color-white);
  transition: all 0.3s ease-in-out;
}

/* Animations - Effects */
#logo:hover {
  transform: rotate(360deg);
  transition: all 0.8s ease-in-out;
}

#home-btn:hover,
#menu-btn:hover,
#contact-btn:hover {
  background-color: var(--text-color-white);
  color: var(--color-black);
  transform: scale(1.2); 
  transition: all 0.2s ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.4);
  transition: all 0.3s ease-in-out;
}

#submit-btn:hover {
  color: var(--color-black);
  background-color: var(--text-color-white);
  transition: all 0.3s ease-in-out;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  box-shadow: 1px 2px 2px 2px #0a0a0a;
  border-radius: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1200px) {

  #logo {
    width: 14rem;
  }

  #home-btn,
  #menu-btn,
  #contact-btn {
    font-size: var(--font-size-small);
  }

  #work-schedule-div {
    margin-bottom: 3rem;
    font-size: 1.1rem;
    width: 28%;
    height: 12rem;
  }

  #home-paragraph {
    font-size: var(--font-size-medium);
  }

  #menu-div {
    gap: 4rem;
  }

  #product-img {
    width: 9rem;
  }

  #product-description {
    font-size: var(--font-size-medium);
  }

  #product-price {
    font-size: var(--font-size-medium);
  }

  #contact-us-title {
    font-size: var(--font-size-extra-large);
  }

  #contact-form input, textarea {
    width: 200%;
    margin-left: -3rem;
  }

  #location-container,
  #phone-number-container,
  #email-container {
    font-size: var(--font-size-small);
  }

  #footer-div {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 660px) {
  #logo {
    width: 11rem;
  }

  #nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    left: -100%;
    width: 100%;
    transition: 0.3s;
    gap: 1rem;
    background-color: rgb(0, 0, 0, 0.8);
  }

  #home-btn,
  #menu-btn,
  #contact-btn {
    background-color: transparent;
    font-size: var(--font-size-small);
  }

  #nav.active {
    left: 0;
  }

  #hamburger-container {
    display: block;
    position: fixed;
    right: 1rem;
    top: 2.3rem;
  }

  #hamburger-container.active .hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger-container.active .hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger-container.active .hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #restaurant-name {
    font-size: var(--font-size-large);
  }

  #restaurant-type {
    font-size: var(--font-size-small);
  }

  #home-paragraph {
   font-size: var(--font-size-small);
    margin-top: 1rem;
    max-width: 50%;
  }

  #work-schedule-div {
    width: 40%;
    margin-bottom: 1rem;
    font-size: var(--font-size-small);
    height: 9rem;
  }

  #hours-h2 {
    font-size: var(--font-size-medium);
  }

  #footer {
    font-size: var(--font-size-small);
  }

  #product-img {
    width: 8rem;
  }

  #product-title {
    font-size: var(--font-size-medium);
  }

  #product-description {
    font-size: 0.9rem;
    text-align: center;
    width: 30rem;
  }

  #product-price {
    font-size: var(--font-size-medium);
  }

  #contact-us-title {
    font-size: var(--font-size-large);
    grid-column: 2;
    margin-top: 1rem;
    width: 100%;
  }

  #contact-info-container {
    font-size: var(--font-size-small);
    width: 120%;
    height: 11rem;
  }

  #contact-form-container {
    grid-column: 2;
  }
  
  #contact-form input, textarea {
    width: 200%;
    height: 3rem;
    font-size: var(--font-size-small);
    text-indent: 1rem;
  }

  #submit-btn-container {
    grid-column: 2;
    margin-top: -2rem;
  }

  #submit-btn {
    font-size: 1rem;
    width: 8rem;
    height: 2.5rem;
  }

  #confirmation-message {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #error-name,
  #error-email,
  #error-textarea {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #logo {
    width: 9.5rem;
  }

  #home-btn,
  #menu-btn,
  #contact-btn {
    background-color: transparent;
    font-size: var(--font-size-small);
  }

  #restaurant-name {
    font-size: var(--font-size-medium);  
  }

  #restaurant-type {
    font-size: 0.7rem;
  }

  #home-paragraph {
    font-size: var(--font-size-small);
    margin-top: 1rem;
    max-width: 65%;
  }

  #work-schedule-div {
    width: 60%;
    margin-bottom: 1rem;
  }

  #hours-h2 {
    font-size: var(--font-size-medium);
  }

  #footer {
    font-size: 0.6rem;
  }

  #product-img {
    width: 6rem;
  }

  #product-title {
    font-size: 1rem;
  }

  #product-description {
    width: 19rem;
  }

  #product-price {
    font-size: 1rem;
  }

  #contact-page-container {
    gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }

  #contact-us-title {
    font-size: var(--font-size-medium);
    grid-column: 1;
    margin-top: 1rem;
  }

  #contact-info-container {
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  #location-container, 
  #phone-number-container,
  #email-container {
    display: flex;
  }

  #contact-form-container {
    grid-column: 1;
  }
  
  #contact-form input, textarea {
    width: 150%;
    font-size: 0.7rem;
  }

  #submit-btn-container {
    grid-column: 1;
    grid-row: 3;
    margin-top: -2rem;
    margin-bottom: 1rem;
  }

  #submit-btn {
    font-size: 0.8rem;
    width: 6rem;
    height: 2rem;
  }

  #confirmation-message {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  #error-name,
  #error-email,
  #error-textarea {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 380px) {
  #contact-info-container {
    font-size: 0.6rem;
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 1rem;
    width: 100%;
  }
}